body {
	background-image: url("/custom-pages/Academy background.jpg");
	background-repeat: no-repeat;
	background-position: center 20%;
	background-size: cover;
}
.container{
	background-image:url("/custom-pages/form background.png");
	padding:30px;
	
}
h2{
	font-family: 'Montserrat', sans-serif;
	
}
.btn3d {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
	-moz-outline-style: none;
	outline: medium none;
}

.btn3d:active,
.btn3d.active {
	top: 2px;
}

.btn3d.btn-default {
	color: #ffffff;
	box-shadow: 0 0 0 1px #1ba922 inset, 0 0 0 2px rgba(255, 255, 255, 0.10) inset, 0 8px 0 0 #008000, 0 8px 8px 1px rgba(0, 0, 0, .2);
	background-color: #32CD32;
	font-family: 'Comfortaa', cursive;
}

.btn3d.btn-default:active,
.btn3d.btn-default.active {
	color: #ffffff;
	box-shadow: 0 0 0 1px #36e748 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
	background-color: #36e748;
}

.btn3d.btn-white {
	color: #666666;
	box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.10) inset, 0 8px 0 0 #c0c0c0, 0 8px 8px 1px rgba(0, 0, 0, .2);
	background-color: #fff;
}

.btn3d.btn-white:active,
.btn3d.btn-white.active {
	color: #666666;
	box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
	background-color: #fff;
}
.btn3d.btn-info {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #39B3D7;
}

.btn3d.btn-info:active,
.btn3d.btn-info.active {
	box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #39B3D7;
}

label {
	font-family: 'Montserrat', sans-serif;
	
}